.detail {
    
}

.detail__head-name {
    font-size: 32px;
    padding: 22px 0;
    font-weight: bold;
}

.detail__head-desc {
    font-size: 16px;
    font-weight: 400;
}

.detail__body {
    margin-top: 5%;
    margin-bottom: 5%;
}

.detail__body-title,
.detail__relate-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
}

.detail__body-list {
    list-style: none;
    padding: 0;
}

.detail__body-item {
    padding: 14px 30px 14px 16px;
    background-color: #f5f5f5;
    margin-bottom: 16px;
    border-radius: 10px;
}

.detail__body-item:hover .detail__body-link {
    color: #f05123;
}

.detail__body-link {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: var(--black-color);
}

.detail__relate {
    display: flex;
    flex-direction: column;
}

.detail__relate-item {
    display: flex;
    text-decoration: none;
    color: var(--black-color);
}

.detail__relate-item:hover {
    color: var(--black-color);
    cursor: pointer;
}

.detail__relate-img {
    width: 126px;
    border-radius: 8px;
}

.detail__relate-right {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.detail__relate-name {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}

.detail__relate-price {
    display: flex;
    align-items: center;
}

.detail__relate-price--old {
    font-size: 12px;
    text-decoration: line-through;
    margin-right: 8px;
}

.detail__relate-price--new {
    font-size: 14px;
    color: #f05123;
    font-weight: 600;
}

.detail__right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.detail__right-img {
    width: 390px;
    border-radius: 15px;
    margin-bottom: 24px;
}

.detail__right-btn {
    text-decoration: none;
    padding: 8px 26px;
    background-color: #f05123;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5%;
    border-radius: calc(43px / 2);
}

.detail__right-btn:hover {
    color: white;
}

.detail__right-item {
    display: flex;
    align-items: center;
    width: 150px;
}

.detail__right-icon i {
    font-size: 16px;
}

.detail__right-desc {
    font-size: 16px;
    margin-left: 5%;
}