.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.content {
    display: flex;
    justify-content: center;
}

.content-box {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px 26px 50px 26px;
    border-radius: 5%;
}

.content__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__logo {
    width: 44px;
    height: 44px;
}

.content__title {
    font-size: 28px;
    font-weight: bold;
    color: var(--black-color);
    margin: 18px 0;
}

.content__body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__email-text {
    font-size: 16px;
    font-weight: 500;
    padding-left: 5%;
}

.content__input {
    font-size: 16px;
    width: 350px;
    height: 42px;
    padding: 12px 20px;
    border: none;
    background-color: #f1f1f2;
    outline: none;
    border-radius: 21px;
}

.content__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 21px;
    width: 350px;
    height: 42px;
    padding: 12px 20px;
    color: white;
    margin-top: 3%;
    font-size: 18px;
    background-image: linear-gradient(to right, #94e6fb , #91eee2);
}

.content__remind {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    font-size: 16px;
}

.content__text--red {
    color: #f05123;
    text-decoration: none;
}