/* HEADER SECTION BEGIN */
.header {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    justify-content: space-between;
    height: 66px;
    padding: 0 28px;
    border-bottom: 3px #f6f7f8 solid;
}

.header__left {
    display: flex;
    align-items: center;
    margin-left: 16px;
}

.header__left-logo {
    width: 38px;
    height: 38px;
    border-radius: 8px;
}

.header__left-title {
    font-weight: 700;
    margin-left: 16px;
    cursor: pointer;
}

.header__search {
    position: relative;
}

.header__search-icon {
    font-size: 18px;
    position: absolute;
    top: 29%;
    left: 4%;
}

.header__search-input {
    padding: 6px 160px 6px 44px;
    border-radius: calc(37px / 2);
}

.header__right {
    width: 21%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__right-mylearn,
.header__right-user {
    color: #333;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px;
    position: relative;
    z-index: 2;
}

.header__right-user {
    display: flex;
    align-items: center;
}

.header__right-user-name {
    color: #333;
    cursor: pointer;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px;
    position: relative;
    z-index: 2;
}

a {
    color: inherit;
}

.header__right-mylearn:hover .header__right-dropdown {
    display: block;
}

.header__right-icon {
    font-size: 18px;
    color: #707070;
    cursor: pointer;
}

.header__right-icon:hover {
    color: var(--black-color);
}

.header__right-avatar {
    width: 28px;
    border-radius: 50%;
}

.header__right-login {
    font-size: 14px;
    background-color: #ff5a18;
    color:white;
    padding: 6px 16px;
    border-radius: calc(35px / 2);
    transition: 0.2s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__right-login:hover {
    border: 1px solid #ff5a18;

    color: black;
}

.header__right-dropdown {
    display: none;
    position: absolute;
    width: 400px;
    top: 120%;
    right: 0;
    background-color: white;
    box-shadow: 0 -4px 32px rgb(0 0 0 / 20%);
    border-radius: 15px;
    animation: fadeIn 0.3s linear;
    transition: all 0.3s linear;
}

.header__right-dropdown::before {
    content: "";
    width: 25%;
    height: 20px;
    background-color: transparent;
    position: absolute;
    top: -12px;
    right: 8px;
}

.header__right-title {
    align-items: center;
    display: flex;
    padding: 14px 20px 16px;
    font-size: 18px;
}

.header__right-list {
    list-style: none;
    padding: 0 0 10px 0;
    margin: 0;
}

.header__right-item {

}

.header__right-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 12px 0;
}

.header__right-link:hover {
    background-color: rgba(22,24,35,.05);
}

.header__right-img {
    width: 120px;
    margin-left: 16px;
}

.header__right-course {
    color: #5d5d5d;
    margin-left: 20px;
}

/* HEADER SECTION END */

/* MAIN SECTION BEGIN */
.main__left {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1%;
}

.main__left-add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #1473e6;
    border-radius: 50%;
}

.main__left-add:hover i {
    transform: scale(1.5);
}

.main__left-add i {
    font-size: 18px;
    color: white;
    transition: all 0.3s ;
}

.main__left-list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin-top: 10%;
}

.main__left-item {
    width: 72px;
    height: 72px;
    border-radius: 2%;
    margin: 5% 0;
    border-radius: 25%;
}

.main__left-item.active {
    width: 72px;
    height: 72px;
    border-radius: 2%;
    margin: 5% 0;
    background-color: #e8ebed;
    border-radius: 25%;
}

.main__left-item:hover {
    background-color: #f5f5f5;
    transition: all 0.2s;
    color: var(--black-color);
}

.main__left-item:hover i,
.main__left-item:hover p {
    color: var(--black-color);
}

.main__left-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 100%;
    color: var(--black-color);
}

.main__left-link i {
    font-size: 18px;
}

.main__left-link p {
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}

.main__right {
    margin-bottom: 5%;
}
/* SLIDER */
.slider {
    position: relative;
    height: 270px;
    padding-top: 8px;
}

.slider__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    color: var(--white-color);
    margin: 3%;
}

.slider__title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 2%;
}

.slider__desc {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 5%;
}

.slider__btn {
    font-size: 18px;
    font-weight: 500;
    width: 28%;
    background-color: transparent;
    color: var(--white-color);
    text-decoration: none;
    border: 1px solid var(--white-color);
    border-radius: calc(36.5px / 2);
}

.slider__btn:hover {
    border: 1px solid var(--white-color);
}

.slider__img {
    position: absolute;
    z-index: 1;
    border-radius: 30px;
}


/* Pro */
.box-top {
    margin-bottom: 16px;
}

.box-learn {
    margin-top: 5%;
}

.box__title {
    font-size: 24px;
    font-weight: 900;
}

.box__item {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.box__item:hover .overlay-black {
    opacity: 0.4;
}

.box__item-top {
    position: relative;
    overflow: hidden;
}

.box__item-img {
    width: 100%;
    border-radius: 16px;
}

.box__item-top--btn {
    font-size: 14px;
    padding: 9px 16px;
    border-radius: calc(43px /2);
    border: none;
    background-color: white;
    position: absolute;
    opacity: 0;
    top: 100%;
    left: 30%;
    transition: all 0.3s;
    text-decoration: none;
    color: var(--black-color);
}

.box__item-top--btn:hover {
    color: #f05123;
}


.box__item:hover .box__item-top--btn {
    top: 45%;
    opacity: 1;
}

.overlay-black {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    border-radius: 16px;
    background-color: black;
    transition: all 0.3s;
}

.box__item-title {
    font-size: 18px;
    margin-top: 18px;
    font-weight: bold;
}

.box__item-price--old {
    font-size: 14px;
    text-decoration: line-through;
}

.box__item-price--new {
    font-size: 16px;
    color: #f05123;
    font-weight: bold;
    margin-left: 8px;
}
/* MAIN SECTION END */

/* FOOTER SECTION BEGIN */
.footer {
    background-color: #181821;
    height: 300px;
    padding-top: 68px;
    padding-bottom: 300px;
}

.footer__item {
    display: flex;
    flex-direction: column;
}

.footer__left {
    display: flex;
    align-items: center;
}

.footer__title {
    margin-bottom: 10%;
}

.footer__item-title {
    font-size: 20px;
    color: var(--white-color);
}

.footer__list {
    list-style: none;
    font-size: 16px;
    color: #a9b3bb;
    line-height: 26px;
    padding: 0;
}

.footer__list-item:hover span {
    opacity: 0.8;
}

.pl-100 {
    padding-left: 10%;
}

/* FOOTER SECTION END */
